{% extends 'base.html' %}

{% block content %}
<style>
  .part {
    background-color: orange;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
  }

  h2 {
    text-align: center;
  }

  .about {
    background-color: rgb(29, 29, 29);
    margin-bottom: 1rem;
    border-radius: 10px;
    color: white;
    padding: 2rem;
  }

  .contact {
    background-color: rgb(29, 29, 29);
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    color: white;
  }
</style>


<br>
<br>

<div class="container">
    <div class="row">
      <div class="col-lg-4 about">
        <h1>Почему вы должны выбрать нас?</h1>
        <p>
          Добро пожаловать в "СПЕЦСВАР_НВ" – вашего надежного партнера в мире сварочных работ.
          Наша компания была основана в 2022 году группой опытных сварщиков и инженеров, которые
          стремились предоставить качественные сварочные услуги для самых требовательных проектов.
          Мы верим, что сварка – это искусство, требующее точности, умения и технологической грамотности.
          Наша миссия – обеспечивать исключительное качество и надежность в каждом шве, соединяя металлы с точностью и долговечностью.
        </p>
        <br>
        <p style="font-size: 32px; margin-bottom: 0;">Контакты</p>
          <p style="font-size: 24px;">
            + 7 800 555 35 35
            <br>
            SpecSvarNV@mail.ru
          </p>
      </div>
    <div class="col-lg-3"></div>
    <div class="col-lg-4">
          <div class="part">
            <h2>Наши Услуги</h2>
            <p>
              "СПЕЦСВАР_НВ" предлагает полный спектр сварочных услуг, включая аргонную сварку, электродуговую сварку, сварку под флюсом и многое другое. Мы работаем с различными материалами, от стали и алюминия до экзотических сплавов, обеспечивая высокую прочность и эстетику соединений.
            </p>
          </div>
      
          <div class="part">
            <h2>Наша Команда</h2>
            <p>
              За годы работы мы собрали команду высококвалифицированных профессионалов, которые не только виртуозно владеют сварочным аппаратом, но и постоянно совершенствуют свои навыки, следуя последним технологическим тенденциям.
            </p>
          </div>
      
          <div class="part">
            <h2>Наши Обязательства</h2>
            <p>
              Мы стремимся к постоянному развитию и улучшению качества наших услуг. Безопасность на рабочем месте, уважение к окружающей среде и удовлетворенность клиентов являются нашими основными приоритетами.
            </p>
          </div>
    </div>
  </div>
</div>


{% endblock %}