{% extends 'base.html' %}

{% block style %}
<style>
    .form-container {
        max-width: 500px;
        margin: auto;
        padding: 20px;
    }
    
    input[type="text"],
    input[type="password"],
    input[type="email"] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 14px;
    }


</style>
{% endblock %}

{% block content %}


    <div class="form-container">
        <h1 class="text-center mb-4">Авторизация</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }} 
            </div>
            <button type="submit" class="btn btn-primary w-100">Войти</button>
        </form>
    </div>
{% endblock %}
