{% extends 'base.html' %}

{% block style %}
<style>
    .form-container {
        max-width: 500px;
        margin: auto;
        padding: 20px;
    }


</style>
{% endblock %}

{% block content %}


    <div class="form-container">
        <h1 class="text-center mb-4">Регистрация</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }} 
            </div>
            <button type="submit" class="btn btn-primary w-100">Зарегистрироваться</button>
        </form>
    </div>
{% endblock %}